nav {
    padding: 0 75px;
    margin-bottom: -6px;
}
ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.drop-down-menu {
    border: none;
    display: inline-block;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
    border-right: none;
}
ul.drop-down-menu > li:last-child {
    border-right: none;
}

ul.drop-down-menu > li {
    float: left; /* 只有第一層是靠左對齊*/
}

ul.drop-down-menu a {
    color: DarkGray;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 30px;
}
ul.drop-down-menu a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: DimGray;
    color: #fff;
    font-weight: bold;
    cursor: default;
}
ul.drop-down-menu li:hover > a {
    /* 滑鼠移入次選單上層按鈕保持變色*/
    background-color: RGB(54, 54, 54);
    color: #fff;
}

.wrapper {
    width: 100%;
    background-color: RGB(27, 27, 27);
    padding: 0 100px;
    margin-top: 0px;
}
.headerContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 250px 220px;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    border-bottom: 1px solid;
}
.navbar-brand p {
    display: inline;
    font-size: 30px;
    font-weight: bold;
}
p.molly {
    color: white;
}
p.garden {
    background-color: RGB(255, 153, 0);
    color: black;
    padding: 4px;
    border-radius: 4px;
}
.headerSerachWrapper {
    display: inline;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

input[type="text"] {
    background-color: RGB(54, 54, 54);
    border: 0;
    font-size: 13px;
    font-style: italic;
}

.btn {
    display: inline-block;
    height: 25px;
    background-color: RGB(255, 153, 0);
}

.btn img {
    display: block;
    width: 12px;
}
.mainButtom button {
    margin: 10px 2px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 4px;
}
.mainButtom i {
    font-style: initial;
}
.mainButtom img {
    width: 15px;
    margin: 5px;
}

.bidding {
    background-color: RGB(47, 47, 47);
    color: white;
}
.bidding:hover {
    background-color: RGB(54, 54, 54);
}
.cart {
    background-color: RGB(255, 153, 0);
    color: black;
}
.cart:hover {
    background-color: RGB(255, 163, 26);
}
.memberButtom i {
    font-style: initial;
    margin: 20px;
    color: DarkGray;
    font-size: 13px;
}
.memberButtom i:hover {
    color: white;
}
.menu {
    display: inline;
}
.menu button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: 10px 60px;
}
.menu button:hover {
    box-shadow: 0 3px RGB(255, 153, 0);
}
.menu-item {
    background-color: RGB(27, 27, 27);
    color: white;
}
